/*---------------------------FONT------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*---------------------------BASE------------------------------*/
*{
  box-sizing: border-box;
}
a{
  color: white;
  text-decoration: none;
}
ul{
  list-style: none;
}
a:hover{
  text-decoration: none;
}
button:active{
  outline: none;
  border: none;
}

p{
  font-weight: 400;
}

/*---------------------------GLOBAL-----------------------------*/

html{
  color: white;
  box-sizing: border-box;
  font-size: 100%;
}
@media (min-width:480px) {

}
@media (min-width:576px) {

  .explore-pic{
    flex: 0 0 100%;
  }
  .row{
    flex-direction: column
  }
  .container{
    max-width: 540px;
  }
  .exp-container{
    flex: 0 0 100%;
    max-width: 100%;
  }
  .oreder-frist{
    order: -1;
  }
}
@media (min-width: 768px) {
  html{
    font-size: 80%;
  }
  .container{
    max-width: 720px;
  }
  .exp-container{
    flex: 0 0 50%;
    max-width: 50%;
  }
  .oreder-frist{
    order: 0 !important;
  }
  .welcome-text {
      
    font-size: 3rem !important;
    justify-content: left;
    text-align: left !important;
  }
}

@media (min-width:991px) {
  html{
    font-size: 90%;
  }
  .container{
    max-width: 960px;
  }
}

@media (min-width:1200px){
  .container{
    max-width: 1140px;
  }
}

body{
  margin: 0;
  font-family: "Poppins", sans-serif;
}

/*----------------------------GLOBAL-----------------------------*/
.oreder-frist{
    order: -1;
}
.container{
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
}

.exp-container img{
    width: 100%;
    height: auto;
}

.sticky{
  display:block;
}

.half{
  flex: 0 0 50%;
  max-width: 50%;
}

.row{
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
}

.column{
  display: flex;
  flex-direction: column;
}

/*---------------------------SPESIFIC----------------------------*/
nav{
  width: 100%;  
  z-index: 2;
  display: flex;
  position: fixed;
  padding: 1vh 1vw 1vh 1vw;
  height: 9%;
  align-items: center;
  transition: all 0.4s ease;
}

.nav-select-content ul li{
  font-weight: 400;
  font-size: larger;
  padding: 0 1.3vw 0 1.3vw;
}

.j-right{
  justify-content: right;
  width: 100%;
}
.a-center{
  align-items: center;
}
.logo{
  margin: 2vw;
}
.nav-transp{
  background-color: rgba(0, 0, 0, 0.4);
}

.nav-solid{
  background-color: rgb(0, 0, 0);
}

.landing-page{
  background-size:cover;
  background-repeat: no-repeat;
  background-origin: border-box;
  display: flex;
  min-height: 100vh;
  background-image: url(/public/bg-main.JPG);
  align-items: center;
  justify-content: center;
}

#fading-quote{
  z-index: 1;
  opacity: 70%;
  min-width: 70%;
}
.welcome-text{
  font-size: 1rem;
  text-align: center;
  width: 100%;
  padding: 0 2vw 0 2vw;
  z-index: 1;

}
.welcome-text>*{
  margin: 0;
}
.welcome-text h1{
  color: darkorange;
}

.header-overlay{
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
}

/*-------------------------Main Page---------------------------*/
section{
  color: rgb(45, 45, 45);
}
#explore{
  padding: 15vh 0 15vh 0;
}

#main-text{
  padding: 2rem 4rem;
  margin-bottom: 2vh;
  text-align: center;
  justify-items:center;
  
}

#main-text h1{
  font-size: 3rem;
}


.card-text{
  padding: 5%;
}

.card-container{
  width: 100%;
  height: 100%;
  display: flex;
}

.recom-card{
  overflow: hidden;
  width: 100%;
  max-height: 50%;
}

/*-------------------------CUSTOM CLASS--------------------------*/

/*-------------------------DUMMY IMAGE---------------------------*/